<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <script th:src="@{/js/all.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/tienda.css}"/>
<!--    <link rel="stylesheet" th:href="@{/css/fontawesome/all.css}"/>-->
</head>
<body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div th:replace="~{fragments/header :: headerFragment}"></div>

<section layout:fragment="content"></section>

<div th:replace="~{fragments/footer :: footerFragment}"></div>


</body>
</html>