<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <script th:src="@{/js/all.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
<!--    <link rel="stylesheet" th:href="@{/css/fontawesome/all.css}"/>-->
</head>
<body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div th:replace="~{fragments/header :: headerFragment}"></div>

<section layout:fragment="content"></section>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<!-- BOTÓN SOS -->
<a href="tel:954 542 701" class="boton-sos" title="Emergencia SOS">
    <img src="/images/HueSOS.png" alt="Botón SOS" class="img-sos">
</a>

<style>
    .boton-sos {
        position: fixed;
        bottom: 30px;
        right: 50px;
        z-index: 900;
        text-decoration: none;
    }

    .img-sos {
        height: 300px;
        width: 300px;
        object-fit: contain;
        transition: transform 2.0s ease;
    }

    .img-sos:hover {
        transform: scale(1.5);
    }
</style>

</body>
</html>