<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <h2>Reseñas con historia</h2>
</div>

    <section class="testimonials">
        <div class="testimonial">

            <span class="rating">⭐⭐⭐⭐⭐</span>
            <p>'Adopté a mi perrita Luna en esta protectora y fue una de las mejores decisiones que he tomado. El equipo fue muy amable, se aseguraron de que fuera una buena combinación y me dieron toda la información necesaria. Se nota el amor que tienen por los animales. Recomiendo muchísimo adoptar aquí: hay muchos peluditos esperando una familia.'</p>
        </div>
        <div class="testimonial">
            <span class="rating">⭐⭐⭐⭐⭐</span>
            <p>'No puedo tener mascotas en casa, pero gracias a la opción de apadrinar puedo ayudar a un gatito adorable llamado Simba. Me mandan fotos, actualizaciones y sé que con mi aporte mensual él tiene comida, cuidados veterinarios y mucho cariño. Es una forma preciosa de conectar con un animal y apoyar a la protectora sin necesidad de adoptar.'</p>

        </div>
        <div class="testimonial">
            <span class="rating"></i>⭐⭐⭐⭐⭐</span>
            <p>'Hace un año empecé a donar a esta protectora porque vi su trabajo en redes sociales. Usan cada euro para mejorar la vida de perros y gatos rescatados: nuevas camas, vacunas, esterilizaciones, todo transparente. Ver cómo progresan los animales es emocionante. Si no puedes adoptar ni apadrinar, donar también cambia vidas.'</p>

        </div>
    </section>

    <section class="review">
        <div class="input-with-icon">
            <input type="text" placeholder="Deja aquí tu huella">
            <i class="fa fa-paw" aria-hidden="true"></i>
        </div>
    </section>


</body>
</html>