<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Div con Imagen de Fondo y Navbar</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<!-- Footer -->
<footer th:fragment="footerFragment" class="text-center text-lg-start bg-body-tertiary text-muted">
	<!-- Section: Links  -->
	<section class="links">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 text-center">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Redes Sociales
					</h6>
					<p>
						<a href="#" class="enlaceIcono">Facebook
							<img style="width: 20px; margin-left: 0.5em;" th:src="@{images/facebook.ico}" alt="icono facebook">
						</a>
					</p>
					<p>
						<a href="#" class="enlaceIcono">Instagram
							<img th:src="@{images/instagram.ico}" alt="icono instagram">
						</a>
					</p>
					<p>
						<a href="#" class="enlaceIcono">Twitter
							<img th:src="@{images/twitter.ico}" alt="icono twitter">
						</a>
					</p>
					<p>
						<a href="#" class="enlaceIcono">TikTok
							<img th:src="@{images/tiktok.ico}" alt="icono tiktok">
						</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 text-center">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Enlaces de Interés
					</h6>
					<p>
						<a href="#" class="enlaceIcono">Política de Cookies</a>
					</p>
					<p>
						<a href="#" class="enlaceIcono">Configuración de cookies</a>
					</p>
					<p>
						<a href="#" class="enlaceIcono">Política de Privacidad</a>
					</p>
					<p>
						<a href="#" class="enlaceIcono">Términos y condiciones de uso</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4 text-center">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
					<p><i class="fas fa-home me-3"></i> C/ Garcia, Cádiz 11012, España</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						pawhome@gmail.com
					</p>
					<p><i class="fas fa-phone me-3"></i> +34 638 35 30 04</p>
					<p><i class="fas fa-print me-3"></i> +34 956 26 07 41</p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->
	<div class="text-center copyright p-3">
		© 2025 Copyright:
		<a class="text-body" href="#">PawHome</a>
	</div>
</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</html>