<header th:fragment="headerFragment">
	<nav class="navbar fixed-top navbar-expand-md px-3">
		<a class="navbar-brand" href="/">
			<img th:src="@{/images/logoSinFondoBlanco.png}" alt="LogoEmpresa" class="logoNav d-inline-block align-text-top">
		</a>

		<button class="navbar-toggler buttonHamburguesa" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav containerNavCentral">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle enlaceNav" href="/#historia" data-bs-toggle="dropdown"
					   aria-expanded="false" th:text="#{header.conocenos}"></a>

					<ul class="dropdown-menu dropdownNav">
						<li><a class="dropdown-item" href="/#historia" th:text="#{header.historia}"></a></li>
						<li><a class="dropdown-item" href="nuestrosAnimales" th:text="#{header.nAnimales}"></a></li>
						<li><a class="dropdown-item" href="#" th:text="#{header.actividades}"></a></li>
						<li><a class="dropdown-item" href="#" th:text="#{header.blog}"></a></li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle enlaceNav" href="#" data-bs-toggle="dropdown"
					   aria-expanded="false" th:text="#{header.colabora}">
					</a>

					<ul class="dropdown-menu dropdownNav">
						<li><a class="dropdown-item" href="nuestrosAnimales" th:text="#{header.dona}"></a></li>
						<li><a class="dropdown-item" href="nuestrosAnimales" th:text="#{header.adopta}"></a></li>
						<li><a class="dropdown-item" href="#" th:text="#{header.apadrina}"></a></li>
						<li><a class="dropdown-item" href="#" th:text="#{header.paseo}"></a></li>
					</ul>
				</li>

				<li><a class="navbar-brand enlaceNav" href="/tienda" th:text="#{header.tienda}"></a></li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle enlaceNav" href="#" data-bs-toggle="dropdown"
					   aria-expanded="false" th:text="#{header.servicios}"></a>

					<ul class="dropdown-menu dropdownNav">
						<li><a class="dropdown-item" href="guarderia" th:text="#{header.guarderia}"></a></li>
						<li><a class="dropdown-item" href="peluqueria" th:text="#{header.peluqueria}"></a></li>
						<li><a class="dropdown-item" href="adiestramiento" th:text="#{header.adiestramiento}"></a></li>
						<li><a class="dropdown-item" href="veterinario" th:text="#{header.veterinario}"></a></li>
						<li><a class="dropdown-item" href="asesoramientoLegal" th:text="#{header.asesoramientoL}"></a></li>
					</ul>
				</li>

				<li> <a class="navbar-brand enlaceNav" href="horariomapa" th:text="#{header.contacto}"></a> </li>

				<li class="banderasCollapse">
					<a href="?lang=es" class="btn btn-sm">
						<img src="https://flagcdn.com/w40/es.png" alt="Español" width="30">
					</a>

					<a href="?lang=en" class="btn btn-sm">
						<img src="https://flagcdn.com/w40/gb.png" alt="English" width="30">
					</a>
				</li>
			</ul>
		</div>

		<div class="banderas me-3">
			<a href="?lang=es" class="btn btn-sm">
				<img src="https://flagcdn.com/w40/es.png" alt="Español" width="30">
			</a>

			<a href="?lang=en" class="btn btn-sm">
				<img src="https://flagcdn.com/w40/gb.png" alt="English" width="30">
			</a>
		</div>

		<div class="ms-auto">
			<div class="dropdown">
				<button class="btn dropdown-toggle botonRegistro" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-user-circle" aria-hidden="true"></i>
				</button>
				<ul class="dropdown-menu dropdown-menu-end dropdownNav" aria-labelledby="userDropdown">
					<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#registroModal" th:text="#{header.registrarse}"></a></li>
					<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#registroModal" th:text="#{header.iniciar}"></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>