<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Nav Tienda"></title>
</head>
    <div th:fragment="navTiendaFragment" class="navbar navbar-expand-md" style="background-color: white; color: black">
        <button class="navbar-toggler buttonHamburguesa" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavTienda"
                aria-controls="navbarNavTienda" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-3" id="navbarNavTienda">
            <ul class="navbar-nav" style="
          display: flex;
          width: 100%;
          justify-content: center;
          flex-wrap: nowrap;
          margin: 0;
          list-style: none;
          align-content: center;
          ">
                <li th:each="categoriaNav : ${categoriasNavDto}" class="navbar-item px-md-2 py-2 align-content-center"><a th:utext="${categoriaNav.getNombre()}" th:href="@{'/tienda#' + ${categoriasNavDto.get(categoriaNav.getId()-1).getNombre()}}" class="enlaceNavTienda"></a></li>
                <li class="navbar-item px-md-2 py-2 align-content-center"><a href="/tienda/carrito" class="enlaceNavTienda px-1">Carrito</a></li>
                <li class="navbar-item px-md-2 py-2 ms-3">
                    <form class="d-flex justify-content-end me-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form></li>
            </ul>
        </div>
    </div>
</html>