body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.modal-content {
    background-color: #f4faf8;
}

.modal-header h1 {
    font-size: clamp(12px, 4vw, 40px) !important;
}

.modal-body img {
    width: 100%;
    max-height: 300px;
    justify-self: center;
    object-fit: cover;
    padding: 0.2em;
}

.textoModal {
    font-size: clamp(12px, 1vw, 20px);
    background-color: rgba(27, 125, 85, 0.3);
    border-radius: 15px;
}

.mainContainer{
    background-color: rgba(27, 125, 85, 0.3);
    width: calc(100% - 5px);
    max-width: 1400px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
}

.cardGuarderia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(27, 125, 85, 0.5);
    border-radius: 20px;
}

.imagenCard{
    height: 150px;
    width: 100%;
    max-width: 100%;
    object-fit: cover !important;
    border-radius: 20px;
}

.cardGuarderia h3{
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.25rem;
}

.formContainer{
    background-color: rgba(27, 125, 85, 0.6);
    width: calc(100% - 5px);
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
}

.btnCard{
    --selected-background-color: green;
}

.btnCard:active{
    background-color: #09251a;
}

.itemSeleccion{
    padding: 10px;
}

.labelForm{
    border-radius: 10px;
}

.btnEnviar{
    border: hidden;
    background-color: #198754;
    border-radius: 0.75rem;
    width: 300px;
}

.btnEnviar:hover{
    background-color: #157347;
}
