body{
    margin: 10px;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.mainContainer{
    background-color: rgba(27, 125, 85, 0.3);
    width: 80%;
    max-width: 1400px;
    margin-top: 100px;
    padding: 15px;
    border-radius: 20px;
    justify-self: center;
}

.cardFormulario{
    background-color: rgba(27, 125, 85, 0.5);
    border-radius: 20px;
}


.btnCard{
    --selected-background-color: green;
}

.itemSeleccion{
    padding: 10px;
}

.labelForm{
    border-radius: 10px;
}

.btnEnviar{
    border: hidden;
    background-color: #198754;
    border-radius: 0.75rem;
    width: 300px;
}

.btnEnviar:hover{
    background-color: #157347;
}
