.dona-body {
    margin-top: 0 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: relative;
    padding: 40px 20px;
    background: url('../images/Dona.jpg');
    background-size: cover;
    z-index: 0;
    background-color: rgba(27, 125, 85, 0.58);
}

.dona-content {
    min-height: 70vh;
}

.dona-header {
    text-align: center;
    margin-bottom: 30px;
}

.dona-columnas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
}

.dona-columna {
    flex: 1;
    min-width: 250px;
}

.dona-columna p {
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000;
    text-align: center;
}

.dona-icono {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px auto;
    background-color: rgba(187, 224, 155, 0.61);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.dona-icono:hover {
    transform: scale(1.1);
}

.dona-icono img {
    width: 60%;
    height: auto;
}

.dona-cuadro-transparente {
    background-color: rgba(187, 224, 155, 0.35);
    border-radius: 15px;
    padding: 40px 70px;
    max-width: 1000px;
    width: 150%;
    text-align: center;
    color: #000000;
}

.dona-textobizum {
    font-size: 30px;
    color: #000000;
}

.dona-header h1 {
    color: black;
}

.dona-gracias {
    color: #000000;
    text-align: center;
}

.dona-content p {
    color: #000000;
    text-align: center;
}
