
body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Inter", sans-serif;
}

.contenedorImagen{
    height: 100vh;
    width: 100%;
    background: url('../images/fondoHomePerro.png') no-repeat;
    background-size: cover;
}

.contenedorImagen h2{
    color: white;
    font-weight: bolder;
    position: relative;
    top: 85%;
    font-size: clamp(30px, 4vw, 40px);
}

/* HISTORIA DE LA PROTECTORA */

.historiaCarrusel {
    width: 95%;
}

.carousel-caption {
    top: 5%;
}

.carousel-caption h5 {
    color: white;
    font-weight: bolder;
    font-size: clamp(10px, 3vw, 50px);
}

.carousel-caption p {
    color: white;
    font-weight: bold;
    font-size: clamp(10px, 2vw, 30px);
}

/*FIN HISTORIA DE LA PROTECTORA*/

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: #f0f8ff;
}

.cta-section {
    position: relative;
    overflow: hidden;
}

.cta-section::before {
    content: "";
    background-color: #5bc1ac;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -30px;
    margin: auto;
    width: 200px;
    height: 200px;
}

.cta-section::after {
    content: "";
    border: 20px solid #597081;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;
    margin: auto;
    width: 150px;
    height: 150px;
}

.esloganDona {
    color:#5a6f80;
    font-weight: 600;
    font-size: 36px;
}

.btnHazteVoluntario {
    background: #597081;
    border: 2px solid transparent;
    border-radius: 100px;
    color: white;
    line-height: normal;
    padding: 20px 30px;
    font-size: 19px;
    font-weight: normal;
}

.btnHazteVoluntario:hover {
    background-color: #5bc1ac;
}

/*Cambio de vista para pantallas moviles*/
@media screen and (max-width: 768px) {
    .containerNavCentral {
        flex-wrap: wrap;
    }

    .containerNavCentral li{
        padding: 0.7em;
    }

    .esloganHeader {
        left: 55%;
        top: 20%;
        font-size: 3em;
    }

    .contenedorImagen h2 {
        top: 70%;
    }
}

@media screen and (min-width: 768px) {
    li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}