.containerImagen {
    position: relative;
    min-height: 120vh;
    width: 100%;
    overflow: hidden;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 0;
    margin-top: -100px;
}

.containerImagen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/fachada.jpg') no-repeat center top fixed;
    background-size: cover;
    z-index: -2;
}

.containerImagen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(13, 58, 39, 0.44);
    z-index: -1;
}

.equipo-overlay {
    background-color: rgba(187, 224, 155, 0.62);
    border-radius: 15px;
    padding: 40px 60px;
    max-width: 1000px;
    width: 80%;
    text-align: center;
    z-index: 1;
}

.team-header h2 {
    text-align: center;
    font-size: 2.6em;
    font-weight: bold;
    color: #004400;
}

.team-header p {
    font-size: 1.7rem;
    color: #225522;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.member {
    background-color: transparent;
    border-radius: 15px;
    padding: 1.5rem;
    color: #000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1/1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.memberImg {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid #0e3716;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}

.card-text a {
    color: #000;
}

.card-text a:hover {
    text-decoration: underline;
}

.member a.btn {
    margin-top: 0.5rem;
    color: #000;
    border-color: #000;
}

.member a.btn:hover {
    background-color: #000;
    color: #fff;
}

/* En móvil, 1 columna */
@media (max-width: 950px) {
    .team-members {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}