.containerImagen {
    position: relative;
    min-height: 120vh;
    width: 100%;
    overflow: hidden;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 0;
    margin-top: -100px;
}

.containerImagen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/fachada.jpg') no-repeat center top fixed;
    background-size: cover;
    z-index: -2;
}

.containerImagen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(13, 58, 39, 0.44);
    z-index: -1;
}

.equipo-overlay {
    background-color: rgba(187, 224, 155, 0.62);
    border-radius: 15px;
    padding: 40px 60px;
    max-width: 1000px;
    width: 80%;
    text-align: center;
    z-index: 1;
}

.team-header h2{
    text-align: center;
    font-size: 2.6em;
    font-weight: bold;
}

.team-header p {
    font-size: 1.7rem;
}

.team-members .role {
    font-size: 1.2rem;
}

.team-members ol, .team-members li {
    font-size: 1.2rem;
}
.team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.member {
    flex: 0 1 220px;
    max-width: 220px;
    text-align: center;
}

.member img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(13, 58, 39);
    margin-bottom: 12px;
}


.bird-boss img {
    border: 3px solid rgb(13, 58, 39);
}

.bird-boss .role {
    font-style: italic;
    margin-top: 6px;
}
