<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutAdmin.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestión de tarifas</title>
</head>
<body>

<section layout:fragment="content">

    <div class="container">
        <h1>Gestión de tarifas</h1>

        <!-- Tabla de Tarifas -->
        <table class="table table-striped table-bordered">
            <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Fecha desde</th>
                <th>Fecha hasta</th>
                <th>Producto</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tarifa : ${tarifas}">
                <td th:text="${tarifa.id}"></td>
                <td th:text="${tarifa.nombre}"></td>
                <td th:text="${tarifa.descripcion}"></td>
                <td th:text="${tarifa.cantidad}"></td>
                <td th:text="${tarifa.precioUnitario}"></td>
                <td th:text="${tarifa.fechaDesde}"></td>
                <td th:text="${tarifa.fechaHasta}"></td>
                <td th:text="${tarifa.producto.nombre}"></td>
                <td>
                    <a th:href="@{'/admin/tarifas/editar/' + ${tarifa.id}}" class="btn btn-success btn-sm">Editar</a>
                    <a th:href="@{'/admin/tarifas/eliminar/' + ${tarifa.id}}" class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar esta tarifa?')">Eliminar</a>
                    <a class="btn btn-primary mb-3" th:href="@{/admin/tarifas/nueva}">
                        Crear
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
