<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutAdmin.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestión de productos y servicios</title>

</head>

<body>

<section layout:fragment="content">

    <div class="container">
        <h1>Gestión de productos y servicios</h1>

        <!-- Tabla de Producto -->
        <table class="table table-striped table-bordered">
            <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen 1</th>
                <th>Imagen 2</th>
                <th>Imagen 3</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.id}"></td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.descripcion}"></td>
                <td><img th:src="${producto.rutaImagen1}" alt=""></td>
                <td><img th:src="${producto.rutaImagen2}" alt=""></td>
                <td><img th:src="${producto.rutaImagen3}" alt=""></td>
                <td th:text="${producto.categoria.nombre}"></td>
                <td>
                    <a th:href="@{'/admin/prodserv/editar/' + ${producto.id}}" class="btn btn-success btn-sm">Editar</a>
                    <a th:href="@{'/admin/prodserv/eliminar/' + ${producto.id}}" class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar esta tarifa?')">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
