<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutAdmin.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animales</title>
</head>
<body>

<section layout:fragment="content">

    <div class="container">
        <h1>Gestión de animales <a class="btn btn-primary" th:href="@{/admin/animales/nuevo}">
            Nuevo animal
        </a></h1>
        <!-- Tabla de Animales -->
        <table class="table table-striped table-bordered">
            <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Chip</th>
                <th>Peso</th>
                <th class="column-edad">Edad</th>
                <th>Género</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Carácter social</th>
                <th>Descripción</th>
                <th>Origen</th>
                <th>Estado adopción</th>
                <th class="column-llegada">Fecha llegada</th>
                <th>¿Se puede pasear?</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="animal : ${animales}">
                <td th:text="${animal.id}"></td>
                <td th:text="${animal.nombre}"></td>
                <td th:text="${animal.chip}"></td>
                <td th:text="${animal.peso}"></td>
                <td class="column-edad" th:text="${animal.fechaNacimiento != null ? #temporals.format(animal.fechaNacimiento, 'dd-MM-yyyy') : ''}"></td>
                <td th:if="${animal.genero}"><span>Macho</span></td>
                <td th:unless="${animal.genero}"><span>Hembra</span></td>
                <td th:text="${animal.raza.especie.nombre}"></td>
                <td th:text="${animal.raza.nombre}"></td>
                <td th:if="${animal.caracterSocial}">Amigable</td>
                <td th:unless="${animal.caracterSocial}">No amigable</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm"
                            th:attr="data-bs-toggle='modal', data-bs-target='#descripcionModal__' + ${animal.id}">
                        Ver descripción
                    </button>

                    <div class="modal fade"
                         th:id="'descripcionModal__' + ${animal.id}"
                         tabindex="-1"
                         th:attr="aria-labelledby='modalLabel__' + ${animal.id}"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'modalLabel__' + ${animal.id}"
                                        th:text="'Descripción de ' + ${animal.nombre}">Descripción</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${animal.descripcion}">Aquí va la descripción del animal</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td th:if="${animal.origen}">De la calle</td>
                <td th:unless="${animal.origen}">Adopción fallida</td>
                <td th:if="${animal.adoptado}"><span>Sí</span></td>
                <td th:unless="${animal.adoptado}"><span>No</span></td>
                <td class="column-llegada" th:text="${animal.fechaLlegada != null ? #temporals.format(animal.fechaLlegada, 'dd-MM-yyyy') : ''}"></td>
                <td th:if="${animal.paseable}"><span>Sí</span></td>
                <td th:unless="${animal.paseable}"><span>No</span></td>
                <td>
                    <a th:href="@{/admin/animales/editar/{id}(id=${animal.id})}" class="btn btn-success btn-sm">Editar</a>
                    <a th:href="@{'/admin/animales/eliminar/' + ${animal.id}}" class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar este animal?')">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
