<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutAdmin.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestión de Usuarios</title>
</head>
<body>

<section layout:fragment="content">

    <div class="container mt-5 m-5">
        <h1>Gestión de Usuarios</h1>

        <!-- Formulario Crear/Editar -->
        <form th:action="@{/admin/usuarios/guardar}" th:object="${usuario}" method="post" class="row g-3 mb-4">
            <input type="hidden" th:field="*{id}"/>
            <div class="col-md-2">
                <input type="text" th:field="*{nickname}" class="form-control" placeholder="Nombre de usuario" required>
            </div>
            <div class="col-md-1">
                <input type="number" th:field="*{email}" class="form-control" placeholder="Correo electrónico" required>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success w-100"
                        th:text="*{id} != null ? 'Actualizar' : 'Guardar'">Guardar
                </button>
            </div>
        </form>

        <!-- Tabla de Usuarios -->
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre de usuario</th>
                <th>Correo electrónico</th>
                <th>Datos del perfil</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario, iterStat : ${usuarios}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${usuario.nickname}"></td>
                <td th:text="${usuario.email}"></td>
                <td>
                    <a th:href="@{'/admin/usuarios/perfil/' + ${usuario.getPerfilDatos()}}" class="btn btn-info btn-sm">Ver Perfil</a>
                <td>
                    <a th:href="@{'/admin/usuarios/editar/' + ${usuario.id}}" class="btn btn-warning btn-sm">Editar</a>
                    <a th:href="@{'/admin/usuarios/eliminar/' + ${usuario.id}}" class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar este usuario?')">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
