<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/Adopta.css}">
</head>
<body>
<main>
  <h2>Cómo adoptar:</h2>
  <ol>
    <li><a href="nuestrosAnimales.html.html"><strong>Elige a uno de nuestros amigos peludos.</strong></a></li>
    <li>Rellena el formulario</li>
    <li>Reserva una entrevista</li>

  </ol>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>