<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
  <link rel="stylesheet" th:href="@{/css/Adopta.css}">
  <title>Adopta</title>
</head>

<body>
<section layout:fragment="content">

  <div class="containerImagen">
    <div class="cuadro-transparente">
      <h1><i>Adopta</i></h1>
      <br>
      <ol>
        <li>Accede al <a th:href="@{/formularioAdopta.html}">formulario</a>.</li>
        <li>Elige a uno de nuestros <a th:href="@{/nuestrosAnimales}">animales disponibles para adopción</a>.</li>
        <li>Rellénalo con sinceridad, queremos conocerte y saber si eres apto para poder cuidar bien de uno o varios de nuestros peluditos.</li>
      </ol>
    </div>
  </div>
</section>
</body>
</html>