<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <link rel="stylesheet" th:href="@{/css/Apadrina.css}">
    <title>Apadrina</title>
</head>

<body>
<section layout:fragment="content">

    <div class="containerImagen">
        <div class="cuadro-transparente">
            <h1><i>Cómo apadrinar a nuestros Paws:</i></h1>
            <br>
            <ol>
                <li>Accede al <a th:href="@{/formularioApadrina.html}">formulario</a>.</li>
                <li> Elige a uno de nuestros <a th:href="@{/nuestrosAnimales}">amigos peludos</a>.</li>
                <li> Elige tu aportación mensual (10€, 20€...) </li>
                <li> Elige a qué va a ir destinado ese dinero (alimentación, veterinario...) </li>
                <li> Elige tu forma de pago (Bizum o Paypal) </li>
            </ol>
        </div>
    </div>
</section>
</body>
</html>