<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Apadrina.css}">
</head>
<body>
<section layout:fragment="content">

<main>
    <h2>Cómo apadrinar a uno de nuestros Paws:</h2>
    <ol>
        <li><a href="nuestrosAnimales.html.html"><strong>Elige a uno de nuestros amigos peludos.</strong></a></li>
        <li> Elige tu aportación mensual (10€, 20€...) </li>
        <li> Elige a qué va a ir destinado ese dinero (alimentación, veterinario...) </li>
        <li> Elige tu forma de pago (Bizum o Paypal) </li>
    </ol>
</main>
</section>
</body>
</html>