<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/Apadrina.css}">
    <title th:text="#{apadrina.titulo}">Apadrina</title>
</head>

<body>
<section layout:fragment="content">

    <div class="containerImagen">
        <div class="cuadro-transparente">
            <h1><i th:text="#{apadrina.comoApadrinar}">Cómo apadrinar a nuestros Paws:</i></h1>
            <br>
            <ol>
                <li>
                    <span th:text="#{apadrina.paso1}">Elige a uno de nuestros</span>
                    <a th:href="@{/nuestrosAnimales}" th:text="#{apadrina.amigosPeludos}">amigos peludos</a>.
                </li>
                <li>
                    <span th:text="#{apadrina.paso2}">Accede al</span>
                    <a th:href="@{/colabora/Apadrina/formularioApadrina}" th:text="#{apadrina.formulario}">formulario para escribir su nombre</a>.

                </li>
                <li th:text="#{apadrina.paso3}">Elige tu aportación mensual (10€, 20€...)</li>
                <li th:text="#{apadrina.paso4}">Elige a qué va a ir destinado ese dinero (alimentación, veterinario...)</li>
                <li th:text="#{apadrina.paso5}">Elige tu forma de pago (Bizum o Paypal)</li>
            </ol>
        </div>
    </div>
</section>
</body>
</html>
