<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Buzón de sugerencias</title>
    <link rel="stylesheet" th:href="@{/css/buzonsugerencias.css}"/>
</head>

<body>

<section layout:fragment="content">

    <section class="mainContainer d-flex flex-column text-center">
        <h2 class="fw-bold text-center" th:utext="#{buzonsugerencias.titulo}"></h2>

        <div class="container mt-5 mb-5">
            <form class="row g-4 d-flex justify-content-center cardFormulario">
                <fieldset class="col-md-12">

                    <div class="itemSeleccion">
                        <label for="motivoMensaje" class="form-label fw-bold text-start" th:utext="#{buzonsugerencias.motivoMensaje}">
                            <span style="color: red">*</span>
                        </label>
                        <select id="motivoMensaje" class="form-select labelForm" required>
                            <option value="" disabled selected th:utext="#{buzonsugerencias.porFavor}"></option>
                            <option th:utext="#{buzonsugerencias.sugerencia}"></option>
                            <option th:utext="#{buzonsugerencias.queja}"></option>
                            <option th:utext="#{buzonsugerencias.peticion}"></option>
                            <option th:utext="#{buzonsugerencias.felicitacion}"></option>
                            <option th:utext="#{buzonsugerencias.agradecimiento}"></option>
                            <option th:utext="#{buzonsugerencias.otro}"></option>
                        </select>
                    </div>

                    <div class="itemSeleccion">
                        <label for="destinatario" class="form-label fw-bold text-start" th:utext="#{buzonsugerencias.dirigido}">
                            <span style="color: red">*</span>
                        </label>
                        <select id="destinatario" class="form-select labelForm" required>
                            <option value="" disabled selected th:utext="#{buzonsugerencias.porFavor}"></option>
                            <option th:utext="#{buzonsugerencias.trabajador}"></option>
                            <option th:utext="#{buzonsugerencias.voluntario}"></option>
                            <option th:utext="#{buzonsugerencias.otroDestinatario}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="sugerencia" class="form-label fw-bold text-start" th:utext="#{buzonsugerencias.tuSugerencia}"></label>
                        <textarea class="form-control labelForm" id="sugerencia" rows="4"
                                  placeholder="Escribe tu sugerencia aquí..."></textarea>
                    </div>

                </fieldset>

                <div class="text-center mt-5 mb-5">
                    <button type="submit" class="btn btn-success btnEnviar" th:utext="#{buzonsugerencias.botonEnviar}"></button>
                </div>
            </form>
        </div>
    </section>
</section>
</body>
</html>
