<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Contacto</title>
    <link rel="stylesheet" th:href="@{/css/buzonsugerencias.css}"/>
</head>

<body>

<section layout:fragment="content">

    <section class="mainContainer d-flex flex-column text-center">
        <h2 class="fw-bold text-center">Buzón de sugerencias</h2>
        <div class="container mt-5 mb-5">
            <form class="row g-4 d-flex justify-content-center cardFormulario">
                <fieldset class="col-md-12">
                    <div class="itemSeleccion">
                        <label for="motivoMensaje" class="form-label">¿Cuál es el motivo del mensaje?: <span
                                style="color: red">*</span></label>
                        <select id="motivoMensaje" class="form-select labelForm" required>
                            <option value="" disabled selected>-Por favor, elige una opción-</option>
                            <option>Sugerencia</option>
                            <option>Queja</option>
                            <option>Petición</option>
                            <option>Felicitación</option>
                            <option>Agradecimiento</option>
                        </select>
                    </div>

                    <div class="itemSeleccion">
                        <label for="destinatario" class="form-label">¿A qué o quién va dirigido?: <span
                                style="color: red">*</span></label>
                        <select id="destinatario" class="form-select labelForm" required>
                            <option value="" disabled selected>-Por favor, elige una opción-</option>
                            <option>Trabajador</option>
                            <option>Voluntario</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="sugerencia" class="form-label">Tu sugerencia</label>
                        <textarea class="form-control" id="sugerencia" rows="4"
                                  placeholder="Escribe tu sugerencia aquí..."></textarea>
                    </div>

                </fieldset>
                <div class="text-center mt-5 mb-5">
                    <button type="submit" class="btn btn-success btnEnviar">ENVIAR</button>
                </div>
            </form>
        </div>
    </section>
</section>
</body>
</html>
