<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <link rel="stylesheet" th:href="@{/css/Colabora.css}">
    <title>Colabora</title>

</head>
<body>

<section layout:fragment="content">

    <h1>Colabora con nuestros animales</h1>

    <div class="container-v">
        <div class="fila arriba">
            <a th:href="@{/dona}" class="button dona">DONA
                <span>Cada aportación, por pequeña que sea, hace una gran diferencia.</span>
            </a>
            <a th:href="@{/adopta}" class="button adopta">ADOPTA
                <span>Cambia tu vida o la de uno de nuestros amigos peludos.</span>
            </a>
        </div>
        <div class="fila abajo">
            <a th:href="@{/apadrina}" class="button apadrina">APADRINA
                <span>Apadrina a uno de nuestros animales y dale una segunda oportunidad, sin necesidad de adoptar.</span>
            </a>
            <a th:href="@{/paseo-solidario}" class="button paseo">PASEO SOLIDARIO
                <span>Pasea a nuestros amigos peludos, además, ¡Con cada paso haces una donación!</span>
            </a>
        </div>
    </div>

    <h2>Cada ayuda cuenta</h2>

</section>
</body>
</html>
