<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Colabora.css"> <!-- Ruta a tu CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1>Colabora con nuestros animales</h1>
<div class="container">

    <button class="button dona top">
        DONA
        <span>Cada aportación, por pequeña que sea, hace una gran diferencia.</span>
    </button>

    <button class="button adopta top">
        ADOPTA
        <span>Cambia tu vida o la de uno de nuestros amigos peludos.</span>
    </button>

    <button class="button apadrina">
        APADRINA
        <span>Apadrina a uno de nuestros animales y dale una segunda oportunidad, sin necesidad de adoptar.</span>
    </button>

    <button class="button paseo">
        PASEO SOLIDARIO
        <span>Pasea a nuestros amigos peludos, además, ¡Con cada paso haces una donación!</span>
    </button>

</div>

<h2>Cada ayuda cuenta</h2>
</body>
</html>
