<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <title>Detalle Producto</title>
  <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<section layout:fragment="content">
  <div th:replace="~{fragments/navTienda :: navTiendaFragment}"></div>
  <section class="py-5" style="background-color: #f4faf8;">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="#">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" th:src="@{images/collar.png}"  alt=""/>
            </a>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image">
              <img width="60" height="60" class="rounded-2" th:src="@{images/collar.png}"  alt=""/>
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2 item-thumb" target="_blank" data-type="image">
              <img width="60" height="60" class="rounded-2" th:src="@{images/collar.png}"  alt=""/>
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">Collar Básico</h4>
            <div class="d-flex flex-row my-3">
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
              <span class="text-success ms-2">In stock</span>
            </div>

            <div class="mb-3">
              <span class="h5">15€</span>
              <span class="text-muted">/por unidad</span>
            </div>

            <p>
              Ejemplo descripcion collar verde para esto sirve como queda castaña
            </p>

            <div class="row">
              <dt class="col-3">Tipo:</dt>
              <dd class="col-9">Regular</dd>

              <dt class="col-3">Color</dt>
              <dd class="col-9">Verde</dd>

              <dt class="col-3">Material</dt>
              <dd class="col-9">Poliester 100%</dd>
            </div>

            <hr />

            <div class="row mb-4">
              <div class="col-md-4 col-6">
                <label class="mb-2">Talla</label>
                <label>
                  <select class="form-select border border-secondary" style="height: 35px;">
                    <option>Pequeño</option>
                    <option>M</option>
                    <option>L</option>
                  </select>
                </label>
              </div>
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-warning shadow-0"> Comprar </a>
            <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Añadir al carrito </a>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->
</section>
</body>
</html>