<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Donar por Bizum</title>
    <link rel="stylesheet" th:href="@{/css/Dona.css}">
</head>
<body>
<section layout:fragment="content">
    <div class="overlay">
        <div class="contenido-principal">
            <h1><u><em><strong>Donar por Bizum</strong></em></u></h1>
            <div class="cuadro-transparente">
            <p class="textobizum">
                Para donar por Bizum, abre la app de tu banco, selecciona la opción de Bizum, elige <b>"Donar a ONG"</b> e introduce nuestro código:</p>

            <h2>Código ONG Bizum <span style="color:#ffffff"><b>PAWH567</b></span></h2>

            <p class="textobizum">¡Gracias por tu ayuda!</p>

            <div style="margin-top: 24px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Bizum.svg" alt="Bizum" style="width:200px;">
            </div>
        </div>
    </div>
</section>
</body>
</html>
