<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <link rel="stylesheet" th:href="@{/css/Dona.css}">
    <title>Dona</title>
</head>
<br>
<body>
<section layout:fragment="content">
    <div class="overlay">
        <div class="contenido-principal">
            <h1><b>¿Cómo puedes donar?</b></h1>
        </div>
        <div class="columnas">
            <div class="columna">
                <p>Recursos monetarios</p>

                <!-- PayPal -->

                <a href="https://www.paypal.com/donate/?hosted_button_id=REEMPLAZA_AQUI" target="_blank" title="Donar con PayPal (mínimo 3€)">
                    <div class="donacion-icono">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal" />
                    </div>
                </a>

                <!-- Bizum -->

                <a th:href="@{/colabora/dona/donarBizum}" title="Donaciones por bizum">
                    <div class="donacion-icono">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Bizum.svg" alt="Bizum" />
                    </div>
                </a>
            </div>

            <div class="columna">
                <p>Recursos materiales</p>

                <!-- Correos -->
                <a href="/donaciones-materiales" title="Ver cómo donar materiales por Correos">
                    <div class="donacion-icono">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Logo_Correos_2019.svg" alt="Correos" />
                    </div>
                </a>
            </div>

            <h3><b>“Gracias a tu apoyo, podemos seguir cuidando y protegiendo a los animales que más lo necesitan. Tu ayuda marca la diferencia”</b></h3>
        </div>
    </div>
</section>
</body>
</html>
