<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <link rel="stylesheet" th:href="@{/css/FinalFeliz.css}"/>
    <title>Final feliz</title>
</head>

<body>
<section layout:fragment="content">

    <header>
        <h1>Finales Felices en PawHome</h1>
        <h2>Estas son algunas de nuestras historias que os compartimos para enseñaros que los finales felices existen.</h2>
    </header>

    <section class="galeria">
        <div class="historia">
            <img th:src="@{/images/finalfelizLuna.jpg}" alt="Perro feliz con su nueva familia"/>
            <p><strong>Luna</strong> encontró una familia que nunca la abandonará.</p>
        </div>
        <div class="historia">
            <img th:src="@{/images/finalfelizMilo.jpg}" alt="Gato feliz en su nuevo hogar"/>
            <p><strong>Milo</strong> ahora duerme cada vez que puede abrazado a su humana favorita.</p>
        </div>
        <div class="historia">
            <img th:src="@{/images/finalfelizRocky.jpg}" alt="Perro jugando con hermanos"/>
            <p><strong>Rocky</strong> juega en el jardín cada día con sus nuevos hermanos peludos.</p>
        </div>
        <div class="historia">
            <img th:src="@{/images/finalfelizSyL.jpg}" alt="Gato y perro juntos en familia"/>
            <p><strong>Stitch y Lila</strong> se llevaban tan bien en la protectora, que la familia decidió no separarlos.</p>
        </div>
        <div class="historia">
            <img th:src="@{/images/finalfelizPipa.jpg}" alt="Gato con bebé"/>
            <p><strong>Pipa</strong> empezó una nueva vida, acompañando a su nuevo hermano en su comienzo también.</p>
        </div>
        <div class="historia">
            <img th:src="@{/images/finalfelizBug.jpg}" alt="Perro con niños"/>
            <p><strong>Bug</strong> tenía como pasatiempo favorito dar amor, pero ahora ha añadido recibirlo.</p>
        </div>
    </section>

</section>
</body>
</html>

