<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <title>Formulario para donar</title>
  <link rel="stylesheet" th:href="@{/css/formulario.dona.css}"/>
</head>
<body>
<section class="mb-5">
  <h2 class="text-success-emphasis fw-bold display-5 my-4 text-center">Reserva tu estancia</h2>
  <div class="formContainer">
    <form class="row g-3">
      <fieldset class="col-md-6">
        <div class="itemSeleccion">
          <legend class="fw-bold">Datos de la mascota</legend>
          <label for="nombreMascota" class="form-label">Nombre de la mascota: <span
                  style="color: red">*</span></label>
          <input type="text" id="nombreMascota" class="form-control labelForm"
                 placeholder="-Por favor introduce el nombre de tu mascota-" required>
        </div>

        <div class="itemSeleccion">
          <label for="caracterMascota" class="form-label">Caracter social: <span
                  style="color: red">*</span></label>
          <select id="caracterMascota" class="form-select labelForm" required>
            <option value="" disabled selected>-Por favor, elige una opción-</option>
            <option>Sociable</option>
            <option>No sociable</option>
          </select>
        </div>

        <div class="itemSeleccion">
          <label for="tipoMascota" class="form-label">Tipo: <span style="color: red">*</span></label>
          <select id="tipoMascota" class="form-select labelForm" required>
            <option value="" disabled selected>-Por favor, elige una opción-</option>
            <option>Perro</option>
            <option>Gato</option>
            <option>Otro</option>
          </select>
        </div>

        <div class="itemSeleccion">
          <label for="necesitaMedicacion" class="form-label">Necesita medicación: <span
                  style="color: red">*</span></label>
          <select id="necesitaMedicacion" class="form-select labelForm" required>
            <option value="" disabled selected>-Por favor, elige una opción-</option>
            <option>Sí</option>
            <option>No</option>
          </select>
        </div>

        <div class="itemSeleccion">
          <label for="fechaEntrada" class="form-label">Fecha de entrada: <span
                  style="color: red">*</span></label>
          <input type="date" id="fechaEntrada" class="form-control labelForm" required>
        </div>

        <div class="itemSeleccion">
          <label for="fechaSalida" class="form-label">Fecha de salida: <span
                  style="color: red">*</span></label>
          <input type="date" id="fechaSalida" class="form-control labelForm" required>
        </div>
      </fieldset>

      <fieldset class="col-md-6">
        <div class="itemSeleccion">
          <legend class="fw-bold">Datos de contacto</legend>
          <label for="nombreDueño" class="form-label">Tu nombre: <span
                  style="color: red">*</span></label>
          <input type="text" id="nombreDueño" class="form-control labelForm"
                 placeholder="-Por favor introduce tu nombre-" required>
        </div>

        <div class="itemSeleccion">
          <label for="telefonoDueño" class="form-label">Teléfono: <span
                  style="color: red">*</span></label>
          <input type="tel" id="telefonoDueño" class="form-control labelForm"
                 placeholder="-Por favor introduce tu número de teléfono-" required>
        </div>

        <div class="itemSeleccion">
          <label for="emailDueño" class="form-label">Correo electrónico: <span
                  style="color: red">*</span></label>
          <input type="email" id="emailDueño" class="form-control labelForm"
                 placeholder="-Por favor introduce tu correo electrónico-" required>
        </div>

        <div class="itemSeleccion">
          <label for="mensajeExtra" class="form-label">Mensaje:</label>
          <input type="text" id="mensajeExtra" class="form-control labelForm">
        </div>
      </fieldset>

      <div class="itemSeleccion">
        <label class="form-label fw-bold fs-5">Tarifa seleccionada: </label>
      </div>

      <div class="itemSeleccion">
        <label class="form-label fw-bold fs-3" id="precioTotal">PRECIO TOTAL: </label>
      </div>

      <div class="itemSeleccion">
        <input type="checkbox" class="" required>
        <label class="form-label">He leído y acepto las condiciones de uso de la web,
          el aviso legal y la política de privacidad</label>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary btnEnviar">RESERVAR</button>
      </div>
    </form>
  </div>
</section>
<hr class="mx-auto w-100 border-2 opacity-50">
