<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Contacto</title>
    <link rel="stylesheet" th:href="@{/css/horariomapa.css}"/>
</head>

<body>

<section layout:fragment="content">

    <section class="mainContainer d-flex flex-column text-center">
        <div class="row g-4 d-flex justify-content-center cardMapa">

            <!---Columna mapa--->
            <div class="col-12 col-md-7 map-responsive">
                <h2>Dónde estamos</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12968.588853849347!2d-4.873474617257901!3d37.863809464195704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1742065670947!5m2!1ses!2ses"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        style="border:0;">
                </iframe>
            </div>

            <!---Tabla horario--->
            <div class="col-12 col-md-5 justify-content-center align-content-center tablaHorario">
                <h2>Horario de atención</h2>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead class="table-success">
                        <tr>
                            <th>Día(s)</th>
                            <th>Horario</th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        <tr>
                            <td>Lunes - viernes</td>
                            <td>08:00 h - 18:00 h</td>
                        </tr>
                        <tr>
                            <td>Sábado</td>
                            <td>09:00 h - 14:00 h</td>
                        </tr>
                        <tr class="table-light">
                            <td>Domingo</td>
                            <td>Cerrado</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!---Botón contacto--->
                <div>
                    <h2>Contacto</h2>
                    <button type="submit" class="btn btn-success">CONTÁCTANOS<a href="#"></a></button>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>