<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <title>Inicio de sesión</title>
  <link rel="stylesheet" th:href="@{/css/LoginRegistro.css}"/>
</head>

<body>

<section layout:fragment="content">

  <div class="ContenedorPrincipal">
    <div class="container pt-5">
      <div class="row justify-content-lg-end mt-5 p-10">
        <div class="col-lg-4 mb-5">
          <div class="card shadow">
            <div class="card-header bg-success text-white text-center">
              <h2>Login</h2>
            </div>
            <div class="card-body">
              <form th:action="@{/login}" method="post">
                <div class="mb-3">
                  <label for="username" class="form-label">Nombre usuario:</label>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña:</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <div class="mb-3">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="remember-me">
                    Recordarme
                  </label>
                </div>

                <div class="text-center mt-3 w-100">
                  <button type="submit" class="btn btn-success w-100 text-white">Iniciar sesión</button>
                </div>

                <div class="text-center mt-3 w-100">
                  <a class="btn btn-secondary w-100 text-white" th:href="@{/registro}">Registro</a>
                </div>

                <div class="text-center mt-3 w-100">
                  <a th:href="@{/olvido-password}">¿Olvidaste tu contraseña?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>