<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Inicio de sesión</title>
    <link rel="stylesheet" th:href="@{/css/LoginRegistro.css}"/>
</head>

<body>

<section layout:fragment="content">

    <!--  <div class="ContenedorPrincipal">-->
    <div class="container">
        <div class="form-box login">
            <form action="#">
                <h1>Acceso</h1>
                <div class="input-box">
                    <input type="text" placeholder="Nombre de usuario" required/>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" required/>
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <div class="forgot-link">
                    <a href="#">¿Has olvidado la contraseña?</a>
                </div>
                <button type="submit" class="btn">Acceso</button>
                <p>o iniciar sesión con plataformas sociales</p>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <form action="#">
                <h1>Registro</h1>
                <div class="input-box">
                    <input type="text" placeholder="Usuario" required/>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Correo electrónico" required/>
                    <i class="bx bxs-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" required/>
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <button type="submit" class="btn">Registro</button>
                <p>or register with social platforms</p>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                </div>
            </form>
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>¡Hola, Bienvenido!</h1>
                <p>¿No tienes una cuenta?</p>
                <button class="btn register-btn">Registro</button>
            </div>

            <div class="toggle-panel toggle-right">
                <h1>¡Bienvenido de Nuevo!</h1>
                <p>¿Ya tienes una cuenta?</p>
                <button class="btn login-btn">Login</button>
            </div>
        </div>
    </div>
    <!--  </div>-->

    <script>
        container = document.querySelector('.container');
        const registerBtn = document.querySelector('.register-btn');
        const loginBtn = document.querySelector('.login-btn');

        registerBtn.addEventListener('click', () => {
            container.classList.add('active');
        })

        loginBtn.addEventListener('click', () => {
            container.classList.remove('active');
        })
    </script>

</section>
</body>
</html>