<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout.html}">
<head>
	<title>Nuestros Animales</title>
	<link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>

<section layout:fragment="content">
	<div class="row m-5 pt-3">
		<div class="col-7 contenedorIzquierdo">
			<h2>Nuestros animales disponibles:</h2>
			<p>Adoptar un animal de nuestro refugio no solo significa darle una segunda oportunidad a un ser que ha sufrido
				el abandono,
				sino también ganar un compañero fiel que llenará tu hogar de amor y alegría. Cada uno de nuestros animales
				ha sido cuidado con esmero,
				recibiendo la atención veterinaria necesaria y mucho cariño mientras espera una familia que le brinde el
				hogar que merece.
			</p>
		</div>

		<div class="col-5 align-self-center contenedorDerecho">
			<h3>&#x1F6E1;&#xFE0F; Sé responsable</h3>
			<h3>&#129309; Compromiso y Paciencia</h3>
			<h3>&#128054; Agradecimiento y apoyo </h3>
		</div>

	</div>

	<main>
		<div class="container">
			<!-- Sorting -->
			<div class="row justify-content-center mb-3">
				<div class="col-12 col-md-10">
					<div class="table-sort-panel">
						<table class="table table-borderless text-center table-sort-panel">
							<thead class="thead-light">
							<tr>
								<th class="px-2" data-field="nombre" th:replace="fragments/sorting :: sorting('nombre','Nombre')"></th>
								<th class="px-2" data-field="fechaNacimiento" th:replace="fragments/sorting :: sorting('fechaNacimiento','Edad')"></th>
								<th class="px-2" data-field="peso" th:replace="fragments/sorting :: sorting('peso','Peso')"></th>
								<th class="px-2" data-field="genero" th:replace="fragments/sorting :: sorting('genero','Genero')"></th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>

			<!-- Cards -->
			<div class="row justify-content-center">
				<!--/* @thymesVar id="animal" type="com.grupo3.pawHome.entities.Animal" */-->
				<div th:each="animal : ${animales}" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
					<div class="card cardAnimal">
						<div class="card_image">
							<img class="imgCardAnimal" th:src="${animal.rutaImg1}" alt="foto de perro disponible para adoptar">
						</div>
						<div class="card_content d-flex justify-content-center card_contentAnimal">
							<h2 class="card_title card_titleAnimal" th:utext="${animal.nombre}"></h2>
							<p class="card_tex card_textAnimal">
								<span th:utext="${animal.peso} + 'kg'"></span>,
								<span th:utext="${animal.edad}"></span>,
								<span th:if="${animal.genero == false}">Hembra</span>
								<span th:unless="${animal.genero == false}">Macho</span></p>
							<div class="row d-flex justify-content-center flex-nowrap">
								<a th:if="${animal.adoptado == false && animal.caracterSocial == true}"
								   th:href="@{/adopta/{id}(id=${animal.id})}"
								   class="botonesCardAnimal btn card_btn">Adopta</a>

								<a th:if="${animal.adoptado == false}"
								   th:href="@{/apadrinar/{id}(id=${animal.id})}"
								   th:class="'btn card_btn ' + (${animal.caracterSocial} == true? 'botonesCardAnimal' : 'botonesCardAnimalApadrina')">
									Apadrina
								</a>
							</div>
							<div class="row d-flex justify-content-center flex-nowrap hiddenCardContent">
								<button type="button" class="botonesCardAnimal botonesCardLeerMas btn card_btn arrow"
										data-bs-toggle="modal" data-bs-target="#exampleModal"
										th:attr="data-id=${animal.id},
											data-nombre=${animal.nombre},
											data-imagen=${animal.rutaImg1},
											data-imagen2=${animal.rutaImg2},
											data-imagen3=${animal.rutaImg3},
											data-descripcion=${animal.descripcion},
											data-peso=${animal.peso},
											data-fechaNacimiento=${animal.fechaNacimiento},
											data-genero=${animal.genero},
											data-adoptado=${animal.adoptado},
											data-caracter=${animal.caracterSocial}"> Leer Más
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Bloque de paginación -->
			<div class="row justify-content-center mt-4">
				<nav aria-label="Pagination" th:if="${totalPages > 0}">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
							<a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
						</li>
						<li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
							<a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
						</li>
						<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
							<a class="page-link" href="#">...</a>
						</li>
						<li class="page-item" th:classappend="${page == currentPage} ? 'active'"
							th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
							<a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
						</li>
						<li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
							<a class="page-link" href="#">...</a>
						</li>
						<li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
						</li>
						<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</main>

	<!-- Modal único -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalNombre">Nombre</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">
					<div class="row mx-1">
						<img id="modalImagen" src="" alt="Foto del animal" class="img-fluid">
					</div>
					<div class="row mx-1">
						<div class="col-12 col-md-6">
							<img id="modalImagen2" src="" alt="Foto del animal" class="img-fluid">
						</div>
						<div class="col-12 col-md-6">
							<img id="modalImagen3" src="" alt="Foto del animal" class="img-fluid">
						</div>
					</div>
					<p class="textoModal m-1 p-3" id="modalDescripcion">
					</p>
					<p class="textoModal mx-3">
						<strong>Peso:</strong> <span id="modalPeso"></span><br>
						<strong>FechaNacimiento:</strong> <span id="modalFechaNacimiento"></span><br>
						<strong>Género:</strong> <span id="modalGenero"></span>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<div class="row d-flex justify-content-center flex-nowrap mx-3">
						<a id="modalBotonApadrina" class="botonesCardAnimal btn card_btn">
							Apadrina
						</a>
						<a id="modalBotonAdopta" class="botonesCardAnimal btn card_btn">
							Adopta
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const modalNombre = document.getElementById('modalNombre');
			const modalDescripcion = document.getElementById('modalDescripcion');
			const modalPeso = document.getElementById('modalPeso');
			const modalFechaNacimiento = document.getElementById('modalFechaNacimiento');
			const modalGenero = document.getElementById('modalGenero');
			const modalImagen = document.getElementById('modalImagen');
			const modalImagen2 = document.getElementById('modalImagen2');
			const modalImagen3 = document.getElementById('modalImagen3');
			const modalBotonAdopta = document.getElementById('modalBotonAdopta');
			const modalBotonApadrina = document.getElementById('modalBotonApadrina');

			const leerMasBtns = document.querySelectorAll('.botonesCardLeerMas');

			leerMasBtns.forEach(btn => {
				btn.addEventListener('click', () => {
					const nombre = btn.getAttribute('data-nombre');
					const descripcion = btn.getAttribute('data-descripcion');
					const peso = btn.getAttribute('data-peso');
					const fechaNacimiento = btn.getAttribute('data-fechaNacimiento');
					const genero = btn.getAttribute('data-genero') === 'true' ? 'Macho' : 'Hembra';
					const imagen = btn.getAttribute('data-imagen');
					const imagen2 = btn.getAttribute('data-imagen2');
					const imagen3 = btn.getAttribute('data-imagen3');
					const id = btn.getAttribute('data-id');
					const adoptado = btn.getAttribute('data-adoptado') === 'true';
					const caracter = btn.getAttribute('data-caracter') === 'true';

					// Set info en el modal
					modalNombre.textContent = nombre;
					modalDescripcion.textContent = descripcion;
					modalPeso.textContent = peso + ' kg';
					modalFechaNacimiento.textContent = fechaNacimiento;
					modalGenero.textContent = genero;
					modalImagen.setAttribute('src', imagen);
					modalImagen2.setAttribute('src', imagen2);
					modalImagen3.setAttribute('src', imagen3);
					modalBotonAdopta.setAttribute('href', `/adopta/${id}`);

					if (!adoptado && caracter) {
						modalBotonAdopta.style.display = 'inline-block';
						modalBotonApadrina.style.display = 'inline-block';
						modalBotonApadrina.className = 'botonesCardAnimal btn card_btn';
					} else if (!adoptado && !caracter) {
						modalBotonAdopta.style.display = 'none';
						modalBotonApadrina.style.display = 'inline-block';
						modalBotonApadrina.className = 'botonesCardAnimalApadrina btn card_btn';
					} else {
						modalBotonAdopta.style.display = 'none';
						modalBotonApadrina.style.display = 'none';
					}
				});
			});
		});
	</script>
</section>
</body>
</html>