<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="PaseoSolidario.css">

    <title>Paseo Solidario</title>
</head>
<body>
<div class="overlay">
    <h1>PASEO SOLIDARIO:</h1>
    <ol>
        <li><strong>Ven a nuestra protectora</strong> y elige a uno de nuestros perros o gatos para pasear.</li>
        <li>Envíanos una captura de pantalla con los kilómetros recorridos cuando termines (puedes usar la app <a href="https://www.google.com/fit/" target="_blank">Google Fit</a> para poder contar los pasos).</li>
        <li><strong>Cada kilómetro</strong>, se transformará en donaciones para ayudar a nuestros peludos.</li>
    </ol>
</div>
</body>
</html>
