<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <link rel="stylesheet" th:href="@{/css/Paseosolidario.css}"/>
    <title>Paseo Solidario</title>
</head>
<body>
<section layout:fragment="content">

 <div class="containerImagen">
     <div class="cuadro-transparente">
     <h1><i>PASEO SOLIDARIO</i></h1>
     <br>
     <ol>
         <li>Elige a uno de nuestros <a th:href="@{/nuestrosAnimales}">animales paseables</a>.</li>
         <li>Envíanos una captura de pantalla con los kilómetros recorridos cuando termines (puedes usar la app <a href="https://www.google.com/fit/" target="_blank">Google Fit</a> para poder contar los pasos).</li>
         <li>Cada kilómetro, se transformará en donaciones para ayudar a nuestros peludos.</li>
     </ol>
 </div>
 </div>
</section>
</body>
</html>
