<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
    <link rel="stylesheet" th:href="@{/css/Paseosolidario.css}"/>
    <title>Paseo Solidario</title>
</head>
<body>
<section layout:fragment="content">

 <div class="containerImagen">
     <div class="cuadro-transparente">
     <h1><i>PASEO SOLIDARIO</i></h1>
     <br>
     <ol>
         <li>Accede al <a th:href="@{/colabora/paseosolidario/formularioPS}">formulario</a>.</li>
         <li>Elige a uno de nuestros <a th:href="@{/nuestrosAnimales}">animales paseables</a>.</li>
         <li>Ingresa la hora de salida y de llegada y haz feliz a uno o varios de nuestros peludos paseándolos.</li>
     </ol>
 </div>
     <h2>"En nuestra protectora, a veces es difícil sacar a todos los perros a pasear debido a la cantidad de animales que cuidamos. Tu ayuda es vital para que cada uno de ellos reciba atención y amor, sin que tengan que pasar todo el día encerrados".</h2>
     <h3>Att:PawHome</h3>
 </div>
</section>
</body>
</html>
