<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="PawHomeCambios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbarPrincipal navbar navbar-expand-lg navbar-custom sticky-top px-3">
    <a class="navbar-brand" href="#">
      <img src="logoSinFondoBlanco.png" alt="Logo" width="60" height="55" class="d-inline-block align-text-top">
    </a>
      <div class="collapse navbar-collapse" id="navbarNav">>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#Aboutus">Sobre nosotros</a>
            </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavColabora">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Colabora
            </a>
            <ul class="dropdown-menu desplegable">
              <li><a class="dropdown-item" href="#">Dona</a></li>
              <li><a class="dropdown-item" href="#">Adopta</a></li>
              <li><a class="dropdown-item" href="#">Apadrina</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavMerc">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#Merchandising">Merchandising</a>
            </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Paseos solidarios</a></li>
              <li><a class="dropdown-item" href="#">Guardería</a></li>
              <li><a class="dropdown-item" href="#">Peluquería</a></li>
              <li><a class="dropdown-item" href="#">Adiestramiento</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#Blog">Blog</a>
            </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#Contacto">Contacto</a>
            </li>
        </ul>
      </div>
 
    <div class="ms-auto">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#registroModal">Registrarse</a></li>
          </ul>
        </div>
    </div>
  </nav>
  
  <img class="fondoHome" src="fondoHomePerro.png" alt="Perro en un bosque disfrutando de un paseo">
  <header id="hero">
    <section class="animal-news">
        <div class="container">
            <h2 class="section-title">Últimas Noticias de nuestros Paws</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://www.cordobabn.com/asset/thumbnail,992,558,center,center/media/cordobabn/images/2023/10/30/2023103009190216681.jpg" class="card-img-top" alt="Noticia sobre perros">
                        <div class="card-body">
                            <h5 class="card-title">Perros rescatados encuentran hogar</h5>
                            <p class="card-text">Un grupo de perros callejeros ha sido adoptado gracias a una campaña solidaria.</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
           
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://plus.unsplash.com/premium_photo-1663127046003-ef3ec7ce7bc4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGdhdG9zJTIwZW4lMjBhZG9wY2lvbnxlbnwwfHwwfHx8MA%3D%3D"class="card-img-top" alt="Noticia sobre perros">
                        <div class="card-body">
                            <h5 class="card-title">Gatos en adopción buscan familia</h5>
                            <p class="card-text">Varias asociaciones han rescatado a más de 100 gatos y buscan familias responsables.</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://media.istockphoto.com/id/1199274229/es/foto/blanco-y-amarillo-no-alimentan-a-los-animales-firmar.jpg?s=1024x1024&w=is&k=20&c=vL_bOehtsD1xiHSZRw6KN-NAWT1KDQkm_Uh9QbQDprY=" class="card-img-top" alt="Protección de fauna salvaje">
                        <div class="card-body">
                            <h5 class="card-title">Nuevas leyes para proteger la fauna</h5>
                            <p class="card-text">Se han aprobado leyes que protegen a los animales en peligro de extinción.</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
  </header>     
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
