<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout.html}">
<head>
	<title th:utext="#{page.peluqueria.tittle}"></title>
	<link rel="stylesheet" th:href="@{/css/servicios.css}"/>
</head>
<body>
<section layout:fragment="content">
	<section class="container py-5 mainContainer">

		<!-- Seccion: Nuestra peluqueria -->
		<section class="text-center rounded-4 shadow mx-2 my-3 p-4 seccionTitulo">
			<div class="container px-4">
				<h2 class="fw-bold display-5 text-success-emphasis mb-3">
					<i class="fas fa-scissors me-2"></i>
					<span th:utext="#{page.peluqueria.tittle}"></span>
				</h2>
				<p class="fs-5">
					<span th:utext="#{servicios.peluqueria.eslogan1}"></span>
					<i class="fas fa-hand-sparkles"></i>
					<span th:utext="#{servicios.peluqueria.eslogan2}"></span>
					<i class="fas fa-spa"></i>
					<span th:utext="#{servicios.peluqueria.eslogan3}"></span>
					<i class="fas fa-heart"></i>
					<span th:utext="#{servicios.peluqueria.eslogan4}"></span>
				</p>
			</div>
		</section>
		<hr class="mx-auto w-100 border-2 opacity-50">

		<!-- Seccion: Servicios para perros: -->
		<section class="text-center my-5">
			<h2 class="fw-bold text-start fs-2 px-3 text-success-emphasis mb-4">
				<i class="fas fa-dog me-2"></i>
				<span th:utext="#{servicios.peluqueria.serviciosPerros.titulo}"></span>
			</h2>

			<!-- Versión para pantallas grandes -->
			<div class="d-none d-md-flex row row-cols-1 row-cols-md-4 g-4 px-3">

				<!-- Servicios -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-paw me-2"></i>
							<span th:utext="#{servicios.peluqueria.nuestrosServicios.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5">
							<li><i class="fas fa-brush me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
							<li><i class="fas fa-shower me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-cut me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.stripping}"></span>
							</li>
							<li><i class="fas fa-clinic-medical me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.corteMaquina}"></span>
							</li>
							<li><i class="fas fa-hand-scissors me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.corteMano}"></span>
							</li>
							<li><i class="fas fa-ruler-combined me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.corteCombinado}"></span>
							</li>
						</ul>
					</div>
				</article>

				<!-- Baño y corte -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-bath me-2"></i>
							<span th:utext="#{servicios.peluqueria.banioIncluye.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5 mb-4">
							<li><i class="fas fa-spa me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.banioMasaje}"></span>
							</li>
							<li><i class="fas fa-wind me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.secado}"></span>
							</li>
							<li><i class="fas fa-cut me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.uñas}"></span>
							</li>
							<li><i class="fas fa-head-side-mask me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.oidos}"></span>
							</li>
						</ul>

						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-scissors me-2"></i>
							<span th:utext="#{servicios.peluqueria.corteIncluye.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5">
							<li><i class="fas fa-dog me-2 "></i>
								<span th:utext="#{servicios.peluqueria.corteIncluye.razas}"></span>
							</li>
							<li><i class="fas fa-dna me-2 "></i>
								<span th:utext="#{servicios.peluqueria.corteIncluye.pelo}"></span>
							</li>
							<li><i class="fas fa-spray-can-sparkles me-2 "></i>
								<span th:utext="#{servicios.peluqueria.corteIncluye.perfume}"></span>
							</li>
						</ul>
					</div>
				</article>

				<!-- Suplementos -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-plus-circle me-2"></i>
							<span th:utext="#{servicios.peluqueria.suplementos.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5">
							<li><i class="fas fa-cut me-2 "></i>
								<span th:utext="#{servicios.peluqueria.suplementos.nudos}"></span>
							</li>
							<li><i class="fas fa-bug-slash me-2 "></i>
								<span th:utext="#{servicios.peluqueria.suplementos.antiparasito}"></span>
							</li>
							<li><i class="fas fa-tint me-2 "></i>
								<span th:utext="#{servicios.peluqueria.suplementos.champu}"></span>
							</li>
							<li><i class="fas fa-feather-alt me-2 "></i>
								<span th:utext="#{servicios.peluqueria.suplementos.deslanado}"></span>
							</li>
						</ul>
					</div>
				</article>

				<!-- Tamaños -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-weight me-2"></i>
							<span th:utext="#{servicios.peluqueria.tamanos.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5">
							<li><i class="fas fa-dog me-2 "></i>
								<span th:utext="#{servicios.peluqueria.tamanos.gigante}"></span>
							</li>
							<li><i class="fas fa-dog me-2 "></i>
								<span th:utext="#{servicios.peluqueria.tamanos.grande}"></span>
							</li>
							<li><i class="fas fa-dog me-2 "></i>
								<span th:utext="#{servicios.peluqueria.tamanos.mediano}"></span>
							</li>
							<li><i class="fas fa-dog me-2 "></i>
								<span th:utext="#{servicios.peluqueria.tamanos.pequeno}"></span>
							</li>
							<li><i class="fas fa-dog me-2 "></i>
								<span th:utext="#{servicios.peluqueria.tamanos.juguete}"></span>
							</li>
						</ul>
					</div>
				</article>
			</div>

			<!-- Versión para pantallas pequeñas -->
			<div class="d-md-none px-3">
				<div class="accordion" id="accordionServiciosPerros">

					<!-- Servicios -->
					<div class="accordion-item seccionTitulo">
						<h2 class="accordion-header" id="headingServicios">
							<button class="accordion-button collapsed seccionTitulo" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseServicios" aria-expanded="false"
									aria-controls="collapseServicios">
								<i class="fas fa-paw me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.titulo}"></span>
							</button>
						</h2>
						<div id="collapseServicios" class="accordion-collapse collapse"
							 aria-labelledby="headingServicios" data-bs-parent="#accordionServiciosPerros">
							<div class="accordion-body">
								<ul class="list-unstyled fs-5">
									<li><i class="fas fa-brush me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
									</li>
									<li><i class="fas fa-shower me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
									</li>
									<li><i class="fas fa-cut me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.stripping}"></span>
									</li>
									<li><i class="fas fa-clinic-medical me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.corteMaquina}"></span>
									</li>
									<li><i class="fas fa-hand-scissors me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.corteMano}"></span>
									</li>
									<li><i class="fas fa-ruler-combined me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.corteCombinado}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Baño y corte -->
					<div class="accordion-item seccionTitulo">
						<h2 class="accordion-header" id="headingBanio">
							<button class="accordion-button collapsed seccionTitulo" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseBanio" aria-expanded="false" aria-controls="collapseBanio">
								<i class="fas fa-bath me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.bañoYCorte}"></span>
							</button>
						</h2>
						<div id="collapseBanio" class="accordion-collapse collapse" aria-labelledby="headingBanio"
							 data-bs-parent="#accordionServiciosPerros">
							<div class="accordion-body">
								<h6 class="fw-bold mb-2" th:utext="#{servicios.peluqueria.banioIncluye.titulo}"></h6>
								<ul class="list-unstyled fs-5 mb-3">
									<li><i class="fas fa-spa me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.banioMasaje}"></span>
									</li>
									<li><i class="fas fa-wind me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.secado}"></span>
									</li>
									<li><i class="fas fa-cut me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.uñas}"></span>
									</li>
									<li><i class="fas fa-head-side-mask me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.oidos}"></span>
									</li>
								</ul>
								<h6 class="fw-bold mb-2" th:utext="#{servicios.peluqueria.corteIncluye.titulo}"></h6>
								<ul class="list-unstyled fs-5">
									<li><i class="fas fa-dog me-2 "></i>
										<span th:utext="#{servicios.peluqueria.corteIncluye.razas}"></span>
									</li>
									<li><i class="fas fa-dna me-2 "></i>
										<span th:utext="#{servicios.peluqueria.corteIncluye.pelo}"></span>
									</li>
									<li><i class="fas fa-spray-can-sparkles me-2 "></i>
										<span th:utext="#{servicios.peluqueria.corteIncluye.perfume}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Suplementos -->
					<div class="accordion-item seccionTitulo">
						<h2 class="accordion-header" id="headingSuplementos">
							<button class="accordion-button collapsed seccionTitulo" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseSuplementos" aria-expanded="false"
									aria-controls="collapseSuplementos">
								<i class="fas fa-plus-circle me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.suplementos.titulo}"></span>
							</button>
						</h2>
						<div id="collapseSuplementos" class="accordion-collapse collapse"
							 aria-labelledby="headingSuplementos" data-bs-parent="#accordionServiciosPerros">
							<div class="accordion-body">
								<ul class="list-unstyled fs-5">
									<li><i class="fas fa-cut me-2 "></i>
										<span th:utext="#{servicios.peluqueria.suplementos.nudos}"></span>
									</li>
									<li><i class="fas fa-bug-slash me-2 "></i>
										<span th:utext="#{servicios.peluqueria.suplementos.antiparasito}"></span>
									</li>
									<li><i class="fas fa-tint me-2 "></i>
										<span th:utext="#{servicios.peluqueria.suplementos.champu}"></span>
									</li>
									<li><i class="fas fa-feather-alt me-2 "></i>
										<span th:utext="#{servicios.peluqueria.suplementos.deslanado}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Tamaños -->
					<div class="accordion-item seccionTitulo">
						<h2 class="accordion-header" id="headingTamanios">
							<button class="accordion-button collapsed seccionTitulo" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseTamanios" aria-expanded="false"
									aria-controls="collapseTamanios">
								<i class="fas fa-weight me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.tamanos.titulo}"></span>
							</button>
						</h2>
						<div id="collapseTamanios" class="accordion-collapse collapse" aria-labelledby="headingTamanios"
							 data-bs-parent="#accordionServiciosPerros">
							<div class="accordion-body">
								<ul class="list-unstyled fs-5">
									<li><i class="fas fa-dog me-2 "></i>
										<span th:utext="#{servicios.peluqueria.tamanos.gigante}"></span>
									</li>
									<li><i class="fas fa-dog me-2 "></i>
										G<span th:utext="#{servicios.peluqueria.tamanos.grande}"></span>
									</li>
									<li><i class="fas fa-dog me-2 "></i>
										<span th:utext="#{servicios.peluqueria.tamanos.mediano}"></span>
									</li>
									<li><i class="fas fa-dog me-2 "></i>
										<span th:utext="#{servicios.peluqueria.tamanos.pequeno}"></span>
									</li>
									<li><i class="fas fa-dog me-2 "></i>
										<span th:utext="#{servicios.peluqueria.tamanos.juguete}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Sección: Nuestras tarifas para perros -->
		<section class="text-center mb-5">
			<h2 class="fw-bold text-success-emphasis mb-4">
				<i class="fas fa-paw me-2"></i>
				<span th:utext="#{servicios.peluqueria.tarifas.perros.titulo}"></span>
			</h2>

			<div class="row row-cols-1 row-cols-md-5 g-4">
				<!-- CARD 1: BAÑO BÁSICO -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Baño Básico" class="imagenCard rounded-3">
						</div>
						<h3 class="fs-4 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.tarifas.banoBasico}">
						</h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.banoBasicoDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-shower me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-brush me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>

				<!-- CARD 2: BAÑO + STRIPPING -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Baño + Stripping"
								 class="imagenCard rounded-3">
						</div>
						<h3 class="fs-4 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.tarifas.banoStripping}">
						</h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.banoStrippingDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-shower me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-cut me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.stripping}"></span>
							</li>
							<li><i class="fas fa-brush me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>

				<!-- CARD 3: SOLO CORTE -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Solo Corte" class="imagenCard rounded-3">
						</div>
						<h3 class="fs-4 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.tarifas.soloCorte}">
						</h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.soloCorteDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-scissors me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cortePelo}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>

				<!-- CARD 4: BAÑO + CORTE -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Baño + Corte" class="imagenCard rounded-3">
						</div>
						<h3 class="fs-4 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.tarifas.banoCorte}">
						</h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.banoCorteDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-shower me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-brush me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
							<li><i class="fas fa-scissors me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cortePelo}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>

				<!-- CARD 5: COMPLETO -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Servicio Completo"
								 class="imagenCard rounded-3">
						</div>
						<h3 class="fs-4 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.tarifas.completo}">
						</h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.completoDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-shower me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-cut me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.stripping}"></span>
							</li>
							<li><i class="fas fa-brush me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
							<li><i class="fas fa-scissors me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cortePelo}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>
			</div>
		</section>
		<hr class="mx-auto w-100 border-2 opacity-50">

		<!-- Seccion: Servicios para gatos -->
		<section class="text-center my-5">
			<h2 class="fw-bold text-start fs-2 px-3 text-success-emphasis mb-4">
				<i class="fas fa-cat me-2"></i>
				<span th:utext="#{servicios.peluqueria.gatos.titulo}"></span>
			</h2>

			<!-- Versión para pantallas grandes -->
			<div class="d-none d-md-flex row row-cols-1 row-cols-md-4 g-4 px-3">

				<!-- Servicios -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-paw me-2"></i>
							<span th:utext="#{servicios.peluqueria.nuestrosServicios.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5">
							<li><i class="fas fa-brush me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
							<li><i class="fas fa-shower me-2 "></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-cat me-2 "></i>
								<span th:utext="#{servicios.peluqueria.caracteristica.cortePeloCorto}"></span>
							</li>
							<li><i class="fas fa-cat me-2 "></i>
								<span th:utext="#{servicios.peluqueria.caracteristica.cortePeloLargo}"></span>
							</li>
						</ul>
					</div>
				</article>

				<!-- Baño -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-bath me-2"></i>
							<span th:utext="#{servicios.peluqueria.banioIncluye.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5 mb-4">
							<li><i class="fas fa-spa me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.banioMasaje}"></span>
							</li>
							<li><i class="fas fa-wind me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.secado}"></span>
							</li>
							<li><i class="fas fa-cut me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.arreglo}"></span>
							</li>
							<li><i class="fas fa-ear-listen me-2 "></i>
								<span th:utext="#{servicios.peluqueria.banioIncluye.oidos}"></span>
							</li>
						</ul>
					</div>
				</article>

				<!-- Corte -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-scissors me-2"></i>
							<span th:utext="#{servicios.peluqueria.corteIncluye.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5">
							<li><i class="fas fa-scissors me-2 "></i>
								<span th:utext="#{servicios.peluqueria.corteIncluye.razas}"></span>
							</li>
							<li><i class="fas fa-feather-alt me-2 "></i>
								<span th:utext="#{servicios.peluqueria.corteIncluye.pelo}"></span>
							</li>
						</ul>
					</div>
				</article>

				<!-- Suplementos -->
				<article class="col">
					<div class="rounded-4 shadow-sm p-3 h-100 seccionTitulo">
						<h3 class="fw-semibold fs-4 text-start text-success mb-3">
							<i class="fas fa-plus-circle me-2"></i>
							<span th:utext="#{servicios.peluqueria.suplementos.titulo}"></span>
						</h3>
						<ul class="list-unstyled text-start fs-5">
							<li><i class="fas fa-cat me-2 "></i>
								<span th:utext="#{servicios.peluqueria.suplementos.deslanado}"></span>
							</li>
							<li><i class="fas fa-khanda me-2 "></i>
								<span th:utext="#{servicios.peluqueria.suplementos.nudos}"></span>
							</li>
						</ul>
					</div>
				</article>
			</div>

			<!-- Versión para pantallas pequeñas -->
			<div class="d-md-none px-3">
				<div class="accordion" id="accordionServiciosGatos">

					<!-- Servicios -->
					<div class="accordion-item seccionTitulo">
						<h2 class="accordion-header" id="headingServiciosGatos">
							<button class="accordion-button collapsed seccionTitulo" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseServiciosGatos" aria-expanded="false"
									aria-controls="collapseServiciosGatos">
								<i class="fas fa-paw me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.titulo}"></span>
							</button>
						</h2>
						<div id="collapseServiciosGatos" class="accordion-collapse collapse"
							 aria-labelledby="headingServiciosGatos" data-bs-parent="#accordionServiciosGatos">
							<div class="accordion-body">
								<ul class="list-unstyled fs-5">
									<li><i class="fas fa-brush me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
									</li>
									<li><i class="fas fa-shower me-2 "></i>
										<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
									</li>
									<li><i class="fas fa-cat me-2 "></i>
										<span th:utext="#{servicios.peluqueria.caracteristica.cortePeloCorto}"></span>
									</li>
									<li><i class="fas fa-cat me-2 "></i>
										<span th:utext="#{servicios.peluqueria.caracteristica.cortePeloLargo}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Baño y corte -->
					<div class="accordion-item seccionTitulo">
						<h2 class="accordion-header" id="headingBanioGatos">
							<button class="accordion-button collapsed seccionTitulo" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseBanioGatos" aria-expanded="false"
									aria-controls="collapseBanioGatos">
								<i class="fas fa-bath me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.bañoYCorte}"></span>
							</button>
						</h2>
						<div id="collapseBanioGatos" class="accordion-collapse collapse"
							 aria-labelledby="headingBanioGatos"
							 data-bs-parent="#accordionServiciosGatos">
							<div class="accordion-body">
								<h6 class="fw-bold mb-2" th:utext="#{servicios.peluqueria.banioIncluye.titulo}"></h6>
								<ul class="list-unstyled fs-5 mb-4">
									<li><i class="fas fa-spa me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.banioMasaje}"></span>
									</li>
									<li><i class="fas fa-wind me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.secado}"></span>
									</li>
									<li><i class="fas fa-cut me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.arreglo}"></span>
									</li>
									<li><i class="fas fa-ear-listen me-2 "></i>
										<span th:utext="#{servicios.peluqueria.banioIncluye.oidos}"></span>
									</li>
								</ul>
								<h6 class="fw-bold mb-2" th:utext="#{servicios.peluqueria.corteIncluye.titulo}"></h6>
								<ul class="list-unstyled fs-5">
									<li><i class="fas fa-scissors me-2 "></i>
										<span th:utext="#{servicios.peluqueria.corteIncluye.razas}"></span>
									</li>
									<li><i class="fas fa-feather-alt me-2 "></i>
										<span th:utext="#{servicios.peluqueria.corteIncluye.pelo}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Suplementos -->
					<div class="accordion-item seccionTitulo">
						<h2 class="accordion-header" id="headingSuplementosGatos">
							<button class="accordion-button collapsed seccionTitulo" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseSuplementosGatos" aria-expanded="false"
									aria-controls="collapseSuplementosGatos">
								<i class="fas fa-plus-circle me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.suplementos.titulo}"></span>
							</button>
						</h2>
						<div id="collapseSuplementosGatos" class="accordion-collapse collapse"
							 aria-labelledby="headingSuplementosGatos" data-bs-parent="#accordionServiciosGatos">
							<div class="accordion-body">
								<ul class="list-unstyled fs-5">
									<li><i class="fas fa-cat me-2 "></i>
										<span th:utext="#{servicios.peluqueria.suplementos.deslanado}"></span>
									</li>
									<li><i class="fas fa-khanda me-2 "></i>
										<span th:utext="#{servicios.peluqueria.suplementos.nudos}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- Sección: Nuestras tarifas para gatos -->
		<section class="text-center mb-5">
			<h2 class="fw-bold text-success-emphasis mb-4">
				<i class="fas fa-cat me-2"></i>
				<span th:utext="#{servicios.peluqueria.tarifas.gatos.titulo}"></span>
			</h2>
			<div class="row row-cols-1 row-cols-md-3 g-4">

				<!-- CARD 1: SOLO BAÑO -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Solo Baño" class="imagenCard rounded-3">
						</div>
						<h3 class="fs-5 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.tarifas.banoBasico}">
						</h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.banoBasicoDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-shower me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-brush me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>

				<!-- CARD 2: SOLO CORTE -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Solo Corte" class="imagenCard rounded-3">
						</div>
						<h3 class="fs-5 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.tarifas.soloCorte}"></h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.soloCorteDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-scissors me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cortePelo}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>

				<!-- CARD 3: CORTE + BAÑO -->
				<article class="col">
					<div class="card p-3 shadow-sm h-100 cardServicio">
						<div class="card_image mb-2">
							<img th:src="@{images/estanciaExpres.jpg}" alt="Corte + Baño" class="imagenCard rounded-3">
						</div>
						<h3 class="fs-5 fw-bold text-success-emphasis"
							th:utext="#{servicios.peluqueria.bañoYCorte}"></h3>
						<p class="fw-bold fs-5">
							<span th:utext="#{servicios.peluqueria.tarifas.soloCorteDesde}"></span>
						</p>
						<ul class="list-unstyled">
							<li><i class="fas fa-shower me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.banio}"></span>
							</li>
							<li><i class="fas fa-brush me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cepillado}"></span>
							</li>
							<li><i class="fas fa-scissors me-2 text-success"></i>
								<span th:utext="#{servicios.peluqueria.nuestrosServicios.cortePelo}"></span>
							</li>
						</ul>
						<button class="btn btn-success btnCard mt-auto">
							<span th:utext="#{servicios.botonSeleccionar}"></span>
						</button>
					</div>
				</article>
			</div>
		</section>
		<hr class="mx-auto w-100 border-2 opacity-50">

		<!-- FORMULARIO RESERVA -->
		<section class="mb-5">
			<h2 class="text-success-emphasis fw-bold display-5 my-4 text-center"
				th:utext="#{servicios.reservaCitaPeluqueria}">
			</h2>
			<div class="formContainer">
				<form class="row g-3">
					<fieldset class="col-md-6">
						<div class="itemSeleccion">
							<legend class="fw-bold">Datos de la mascota</legend>
							<label for="nombreMascota" class="form-label">Nombre de la mascota: <span
									style="color: red">*</span></label>
							<input type="text" id="nombreMascota" class="form-control labelForm"
								   placeholder="-Por favor introduce el nombre de tu mascota-" required>
						</div>

						<div class="itemSeleccion">
							<label for="caracterMascota" class="form-label">Caracter social: <span
									style="color: red">*</span></label>
							<select id="caracterMascota" class="form-select labelForm" required>
								<option value="" disabled selected>-Por favor, elige una opción-</option>
								<option>Sociable</option>
								<option>No sociable</option>
							</select>
						</div>

						<div class="itemSeleccion">
							<label for="tipoMascota" class="form-label">Tipo: <span style="color: red">*</span></label>
							<select id="tipoMascota" class="form-select labelForm" required>
								<option value="" disabled selected>-Por favor, elige una opción-</option>
								<option>Perro</option>
								<option>Gato</option>
								<option>Otro</option>
							</select>
						</div>

						<div class="itemSeleccion">
							<label for="fechaReserva" class="form-label">Fecha de reserva: <span
									style="color: red">*</span></label>
							<input type="date" id="fechaReserva" class="form-control labelForm" required>
						</div>

						<div class="itemSeleccion">
							<label for="horaReserva" class="form-label">Hora de la cita: <span
									style="color: red">*</span></label>
							<select id="horaReserva" class="form-select labelForm" required>
								<option value="" disabled selected>-Por favor, elige una hora-</option>
							</select>
						</div>
					</fieldset>

					<fieldset class="col-md-6">
						<div class="itemSeleccion">
							<legend class="fw-bold">Datos de contacto</legend>
							<label for="nombreDueño" class="form-label">Tu nombre: <span
									style="color: red">*</span></label>
							<input type="text" id="nombreDueño" class="form-control labelForm"
								   placeholder="-Por favor introduce tu nombre-" required>
						</div>

						<div class="itemSeleccion">
							<label for="telefonoDueño" class="form-label">Teléfono: <span
									style="color: red">*</span></label>
							<input type="tel" id="telefonoDueño" class="form-control labelForm"
								   placeholder="-Por favor introduce tu número de teléfono-" required>
						</div>

						<div class="itemSeleccion">
							<label for="emailDueño" class="form-label">Correo electrónico: <span
									style="color: red">*</span></label>
							<input type="email" id="emailDueño" class="form-control labelForm"
								   placeholder="-Por favor introduce tu correo electrónico-" required>
						</div>

						<div class="itemSeleccion">
							<label for="mensajeExtra" class="form-label">Mensaje:</label>
							<input type="text" id="mensajeExtra" class="form-control labelForm">
						</div>
					</fieldset>

					<div class="itemSeleccion">
						<label class="form-label fw-bold fs-5">Tarifa seleccionada: </label>
					</div>

					<div class="itemSeleccion">
						<label class="form-label fw-bold fs-3" id="precioTotal">PRECIO TOTAL: </label>
					</div>

					<div class="itemSeleccion">
						<input type="checkbox" class="" required>
						<label class="form-label">He leído y acepto las condiciones de uso de la web, el aviso legal y
							la política de privacidad</label>
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-primary btnEnviar">RESERVAR</button>
					</div>
				</form>
			</div>
		</section>
		<hr class="mx-auto w-100 border-2 opacity-50">

		<!-- Sección: otros servicios-->
		<section class="text-center mb-1">
			<h2 class="text-success-emphasis fw-bold display-5 my-4"
				th:utext="#{servicios.otrosServicios}">
			</h2>
			<div class="row row-cols-1 row-cols-md-4 g-4">
				<article class="col">
					<div class="card p-3 shadow-sm cardServicio">
						<div class="card_image">
							<img th:src="@{images/peluqueriaCanina.jpg}" alt="LogoPeluqueria" class="imagenCard">
						</div>
						<h3 class="mt-3 fs-3 fw-bold text-success-emphasis"
							th:utext="#{servicios.guarderia}">
						</h3>
						<p class="fs-4"
						   th:utext="#{servicios.guarderiaApartirDe}">
						</p>
						<a th:href="@{/guarderia}" class="btn btn-success"
						   th:utext="#{servicios.masInfo}">
						</a>
					</div>
				</article>
				<article class="col">
					<div class="card p-3 shadow-sm cardServicio">
						<div class="card_image">
							<img th:src="@{images/adiestramiento.jpg}" alt="LogoAdiestramiento" class="imagenCard">
						</div>
						<h3 class="mt-3 fs-3 fw-bold text-success-emphasis"
							th:utext="#{servicios.adiestramiento}">
						</h3>
						<p class="fs-4"
						   th:utext="#{servicios.adiestramientoApartirDe}">
						</p>
						<a th:href="@{/adiestramiento}" class="btn btn-success"
						   th:utext="#{servicios.masInfo}">
						</a>
					</div>
				</article>
				<article class="col">
					<div class="card p-3 shadow-sm cardServicio">
						<div class="card_image">
							<img th:src="@{images/veterinario.jpg}" alt="LogoVeterinario" class="imagenCard">
						</div>
						<h3 class="mt-3 fs-3 fw-bold text-success-emphasis"
							th:utext="#{servicios.veterinario}">
						</h3>
						<p class="fs-4"
						   th:utext="#{servicios.veterinarioApartirDe}">
						</p>
						<a th:href="@{/veterinario}" class="btn btn-success"
						   th:utext="#{servicios.masInfo}">
						</a>
					</div>
				</article>
				<article class="col">
					<div class="card p-3 shadow-sm cardServicio">
						<div class="card_image">
							<img th:src="@{images/asesoramientoLegal.jpg}" alt="LogoLegal" class="imagenCard">
						</div>
						<h3 class="mt-3 fs-3 fw-bold text-success-emphasis"
							th:utext="#{servicios.asesoramientoLegal}">
						</h3>
						<p class="fs-4"
						   th:utext="#{servicios.asesoramientoApartirDe}">
						</p>
						<a th:href="@{/asesoramientoLegal}" class="btn btn-success"
						   th:utext="#{servicios.masInfo}">
						</a>
					</div>
				</article>
			</div>
		</section>
	</section>
</section>

<!-- Script para controlar fechas y horas -->

</body>
</html>