<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout.html}">
<head>
	<title>Usuario Citas</title>
	<link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>

<section layout:fragment="content">

	<div class="row bg-white mt-5 m-0 p-0 w-100">
		<div class="row w-100">
			<div th:replace="~{fragments/navbarPerfil :: navPerfilFragment}"></div>

			<div class="col-md-9 col-lg-10 justify-content-center">
				<div class="row my-5 justify-content-center">
					<h2 class="text-center mb-4">Mis Citas</h2>

					<hr class="mx-auto w-100 border-2 opacity-50">

					<h3 class="mb-3">Guarderia:</h3>
					<!-- Cards -->
					<div class="row justify-content-center">
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
							<div class="card cardAnimal">
								<div class="card_image">
									<img th:src="@{/images/perro2.png}" alt="Firulais" class="imgCardAnimal">
								</div>
								<div class="card_content d-flex justify-content-center card_contentAnimal">
									<h2 class="card_title card_titleAnimal">Firulais</h2>
									<hr class="mx-1 w-100 opacity-50">
									<h2 class="card_title card_titleAnimal pb-3">Tarifa Express</h2>
									<div class="d-flex flex-wrap justify-content-center gap-2 mb-2 card_badges">

										<!-- Cantidad dias -->
										<span class="badgeCard">
									<i class="fas fa-calendar-days me-1"></i>
									<span>3 Dias</span>
								</span>

										<!-- Fecha entrada -->
										<span class="badgeCard">
									<i class="fas fa-door-open me-1"></i>
									<span>19/06/2025</span>
								</span>

										<!-- Fecha salida -->
										<span class="badgeCard">
									<i class="fas fa-door-closed me-1"></i>
									<span>22/06/2025</span>
								</span>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap">
										<a class="botonesCardAnimal btn card_btn">Factura</a>
										<a class="botonesCardAnimal btn card_btn">Contacto</a>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap hiddenCardContent">
										<button type="button"
												class="botonesCardAnimal botonesCardLeerMas btn card_btn arrow">
											Ver en Directo
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<hr class="mx-auto w-100 border-2 opacity-50">

					<h3 class="mb-3">Peluqueria:</h3>
					<!-- Cards -->
					<div class="row justify-content-center">
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
							<div class="card cardAnimal">
								<div class="card_image">
									<img th:src="@{/images/perro2.png}" alt="Firulais" class="imgCardAnimal">
								</div>
								<div class="card_content d-flex justify-content-center card_contentAnimal">
									<h2 class="card_title card_titleAnimal pb-3">Firulais</h2>
									<div class="d-flex flex-wrap justify-content-center gap-2 mb-2 card_badges">

										<!-- Peso -->
										<span class="badgeCard">
									<i class="fas fa-weight-hanging me-1"></i>
									<span>10Kg</span>
								</span>

										<!-- Edad -->
										<span class="badgeCard">
									<i class="fas fa-birthday-cake me-1"></i>
									<span>3 Añitos</span>
								</span>

										<!-- Género -->
										<span class="badgeCard">
									<i class="fas fa-venus-mars me-1"></i>
									<span>Macho</span>
								</span>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap">
										<a class="botonesCardAnimal btn card_btn">Adopta</a>
										<a class="botonesCardAnimal btn card_btn">
											Apadrina
										</a>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap hiddenCardContent">
										<button type="button"
												class="botonesCardAnimal botonesCardLeerMas btn card_btn arrow">
											Leer Más
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<hr class="mx-auto w-100 border-2 opacity-50">

					<h3 class="mb-3">Adiestramiento:</h3>
					<!-- Cards -->
					<div class="row justify-content-center">
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
							<div class="card cardAnimal">
								<div class="card_image">
									<img th:src="@{/images/perro2.png}" alt="Firulais" class="imgCardAnimal">
								</div>
								<div class="card_content d-flex justify-content-center card_contentAnimal">
									<h2 class="card_title card_titleAnimal pb-3">Firulais</h2>
									<div class="d-flex flex-wrap justify-content-center gap-2 mb-2 card_badges">

										<!-- Peso -->
										<span class="badgeCard">
									<i class="fas fa-weight-hanging me-1"></i>
									<span>10Kg</span>
								</span>

										<!-- Edad -->
										<span class="badgeCard">
									<i class="fas fa-birthday-cake me-1"></i>
									<span>3 Añitos</span>
								</span>

										<!-- Género -->
										<span class="badgeCard">
									<i class="fas fa-venus-mars me-1"></i>
									<span>Macho</span>
								</span>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap">
										<a class="botonesCardAnimal btn card_btn">Adopta</a>
										<a class="botonesCardAnimal btn card_btn">
											Apadrina
										</a>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap hiddenCardContent">
										<button type="button"
												class="botonesCardAnimal botonesCardLeerMas btn card_btn arrow">
											Leer Más
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<hr class="mx-auto w-100 border-2 opacity-50">

					<h3 class="mb-3">Veterinario:</h3>
					<!-- Cards -->
					<div class="row justify-content-center">
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
							<div class="card cardAnimal">
								<div class="card_image">
									<img th:src="@{/images/perro2.png}" alt="Firulais" class="imgCardAnimal">
								</div>
								<div class="card_content d-flex justify-content-center card_contentAnimal">
									<h2 class="card_title card_titleAnimal pb-3">Firulais</h2>
									<div class="d-flex flex-wrap justify-content-center gap-2 mb-2 card_badges">

										<!-- Peso -->
										<span class="badgeCard">
									<i class="fas fa-weight-hanging me-1"></i>
									<span>10Kg</span>
								</span>

										<!-- Edad -->
										<span class="badgeCard">
									<i class="fas fa-birthday-cake me-1"></i>
									<span>3 Añitos</span>
								</span>

										<!-- Género -->
										<span class="badgeCard">
									<i class="fas fa-venus-mars me-1"></i>
									<span>Macho</span>
								</span>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap">
										<a class="botonesCardAnimal btn card_btn">Adopta</a>
										<a class="botonesCardAnimal btn card_btn">
											Apadrina
										</a>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap hiddenCardContent">
										<button type="button"
												class="botonesCardAnimal botonesCardLeerMas btn card_btn arrow">
											Leer Más
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<hr class="mx-auto w-100 border-2 opacity-50">

					<h3 class="mb-3">Asesoramiento Legal:</h3>
					<!-- Cards -->
					<div class="row justify-content-center">
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
							<div class="card cardAnimal">
								<div class="card_image">
									<img th:src="@{/images/consulta.jpg}" alt="Firulais" class="imgCardAnimal">
								</div>
								<div class="card_content d-flex justify-content-center card_contentAnimal">
									<h2 class="card_title card_titleAnimal pb-3">Firulais</h2>
									<div class="d-flex flex-wrap justify-content-center gap-2 mb-2 card_badges">

										<!-- Peso -->
										<span class="badgeCard">
									<i class="fas fa-weight-hanging me-1"></i>
									<span>10Kg</span>
								</span>

										<!-- Edad -->
										<span class="badgeCard">
									<i class="fas fa-birthday-cake me-1"></i>
									<span>3 Añitos</span>
								</span>

										<!-- Género -->
										<span class="badgeCard">
									<i class="fas fa-venus-mars me-1"></i>
									<span>Macho</span>
								</span>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap">
										<a class="botonesCardAnimal btn card_btn">Adopta</a>
										<a class="botonesCardAnimal btn card_btn">
											Apadrina
										</a>
									</div>
									<div class="row d-flex justify-content-center flex-nowrap hiddenCardContent">
										<button type="button"
												class="botonesCardAnimal botonesCardLeerMas btn card_btn arrow">
											Leer Más
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>