<!DOCTYPE html>
<html lang="es" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>Usuario Adopciones</title>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>

<section layout:fragment="content">

    <div class="row bg-white mt-5 m-0 p-0 w-100">
        <div class="row w-100">
            <div th:replace="~{fragments/navbarPerfil :: navPerfilFragment}"></div>

            <div class="col-md-9 col-lg-10 justify-content-start">
                <h3 class="text-center mb-2 mt-3">Mis Donaciones:</h3>
                <div class="row justify-content-start p-3 g-3">
                    <div class="col-12 col-md-6 col-lg-3" style="justify-items: center">
                        <div class="card cardAnimal p-0">
                            <div class="card_image"><img class="imgCardAnimal" th:src="@{/images/perro1Card.jpg}"
                                                         alt="foto de perro disponible para adoptar"></div>
                            <div class="card_content d-flex justify-content-center card_contentAnimal">
                                <h2 class="card_title card_titleAnimal">Comodoro</h2>
                                <p class="card_tex card_textAnimal">Fecha de Adopción: 23/05/2025</p>
                                <div class="row d-flex justify-content-center flex-nowrap">
                                    <button class="botonesCardAnimal btn card_btn" style="width: auto !important; font-size: clamp(10px, 1.2vw, 12px); !important ">Consultar Factura</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" style="justify-items: center">
                        <div class="card cardAnimal p-0">
                            <div class="card_image"><img class="imgCardAnimal" th:src="@{/images/perro1Card.jpg}"
                                                         alt="foto de perro disponible para adoptar"></div>
                            <div class="card_content d-flex justify-content-center card_contentAnimal">
                                <h2 class="card_title card_titleAnimal">Comodoro</h2>
                                <p class="card_tex card_textAnimal">Fecha de Adopción: 23/05/2025</p>
                                <div class="row d-flex justify-content-center flex-nowrap">
                                    <button class="botonesCardAnimal btn card_btn" style="width: auto !important; font-size: clamp(10px, 1.2vw, 12px); !important ">Consultar Factura</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" style="justify-items: center">
                        <div class="card cardAnimal p-0">
                            <div class="card_image"><img class="imgCardAnimal" th:src="@{/images/perro1Card.jpg}"
                                                         alt="foto de perro disponible para adoptar"></div>
                            <div class="card_content d-flex justify-content-center card_contentAnimal">
                                <h2 class="card_title card_titleAnimal">Comodoro</h2>
                                <p class="card_tex card_textAnimal">Fecha de Adopción: 23/05/2025</p>
                                <div class="row d-flex justify-content-center flex-nowrap">
                                    <button class="botonesCardAnimal btn card_btn" style="width: auto !important; font-size: clamp(10px, 1.2vw, 12px); !important ">Consultar Factura</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" style="justify-items: center">
                        <div class="card cardAnimal p-0">
                            <div class="card_image"><img class="imgCardAnimal" th:src="@{/images/perro1Card.jpg}"
                                                         alt="foto de perro disponible para adoptar"></div>
                            <div class="card_content d-flex justify-content-center card_contentAnimal">
                                <h2 class="card_title card_titleAnimal">Comodoro</h2>
                                <p class="card_tex card_textAnimal">Fecha de Adopción: 23/05/2025</p>
                                <div class="row d-flex justify-content-center flex-nowrap">
                                    <button class="botonesCardAnimal btn card_btn" style="width: auto !important; font-size: clamp(10px, 1.2vw, 12px); !important ">Consultar Factura</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>